html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  /* height: 100%; */
}

/* #root { */
  /* height: 100%; */
/* } */

.main {
  background: url("./img/landing.jpg"), #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      rgba(255, 195, 113, 0.5),
      rgba(255, 95, 109, 0.5)
    ),
    url("./img/landing.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5)),
    url("./img/landing.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}

.main h1 {
  color: #840029;
  text-align: center;
  padding-top: 25vh;
}

.dropdown{
  /* float: right; */
  cursor: pointer;
}

a{
  color: #7b3449;
}

.dropdown a:hover{
  color: #4b202d;
  
}

.dropdown-item:hover{
  color: #fff!important;
  background-color: #7b3449;
}


.login {
  border: 1px solid #d4d4d4;
border-radius: 5px;
box-shadow: -1px 11px 20px 0px rgba(206, 206, 206, 0.75)
}

.dropdown-item.active, .dropdown-item:active{
  color: #fff!important;
  background-color: #7b3449;
}

nav.navbar {
  background-color: #7b344a !important;
  color: white!important;
}
.navbar-light .navbar-brand, 
.navbar-light .navbar-text, .navbar-light .navbar-nav .nav-link{
  color: white;
}

.main .mainContext {
  text-align: center;
  font-size: 1.25em;
}

.background-gradient {
  background: url("./img/landing.jpg"), #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    rgba(255, 195, 113, 0.5),
    rgba(255, 95, 109, 0.5)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    rgba(255, 195, 113, 0.5),
    rgba(255, 95, 109, 0.5)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fullpage {
  height: 100%;
}

@media (min-width: 768px) {
  form.createRubric {
    padding: 5em;
  }
}

form.createRubric{
  padding-top: 5em;
}

.btn-primary {
  background-color: #7b344a;
  border-color: #c36c87;
}

.btn-primary:hover {
  background-color: #a04561;
  border-color: #c36c87;
}

/* SIDEBAR CSS */
/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  /* margin: 10px; */
  padding: 10px;
  color: white;
  transition: color 0.2s;
}

.label:hover {
  background: none !important;
}

.label span {
  color: #7b344a;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.596),
    1px -1px 0 rgba(255, 255, 255, 0.596), -1px 1px 0 rgba(255, 255, 255, 0.596),
    1px 1px 0 rgba(255, 255, 255, 0.596);
}

/* Change color on hover */
.bm-item:hover {
  color: white;
  background-color: #7b344a;
  border-radius: 5px;
  text-decoration: none;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 12px;
}

/* Color/shape of burger icon bars */
/* .bm-burger-bars {
  background: white!important;
} */

svg.fa-bars{
  color: white;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
/* .bm-cross { */
  /* background: #bdc3c7; */
/* } */

/* General sidebar styles */
.bm-menu {
  background: #151b26;
  padding: 7px 10px;
  font-size: 14px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* New styles */

.workspace {
  background-color: #f6f8f9;
}

#page-wrap h2 {
  text-align: center;
}

.initial {
  z-index: 50;
  position: fixed;
  /* width: 36px; */
  cursor: pointer;
  height: 30px;
  right: 80px;
  top: 36px;
  font-size: 1.05em;
}
/* a.dropdown-item {
  width: 50px !important;
} */

td {
  padding: 0px !important;
}

.test td{
  padding: .75rem !important;
}
textarea {
  resize: none !important;
  /* height: 130px !important;
  font-size: 14px !important; */
}

.measureTitle {
  font-weight: bold;
  font-size: 0.9rem !important;
  vertical-align: middle !important;
  /* width: 200px !important; */
  padding: 6px 3px;
}

.weight {
  font-weight: bold;
  font-size: 18px !important;
  vertical-align: middle !important;
  width: 130px !important;
  padding: 6px 3px;
}

.centerAlign {
  text-align: center;
}
tr th,tr td{
  max-width: 200px;
}

.sample-table td{
  padding:0.75rem !important;
}

.cells {
  border-radius: 0px;
  height: 150px !important;
  margin: none;
  /* width: 200px; */
}

.cells.form-control {
  font-size: 0.8rem;
}
.table {
  margin: 0px auto;
}

.table td, .table th {
  padding: 0.75rem 0.2rem;
}

table.report{
  table-layout: fixed!important;

}

table.report th, table.report td {
  padding: 0.5rem!important ;
  font-size: 0.9rem
}

table.report th, table.report td{
  vertical-align: middle!important;
}

.cells:hover {
  border: 2px solid black !important;
  border-radius: 5px !important;
  cursor: pointer;
}

.cells:focus {
  border: 1px solid blue !important;
  border-radius: 5px !important;
}

.borderedCell {
  border: 1px darkgrey solid !important;
}

.header {
  border: 1px black solid !important;
  background-color: gainsboro;
}

#page-wrap .card{
  margin: 0px auto;
  max-width: 400px;
  /* border-radius: 10px; */
  box-shadow: -1px 11px 20px 0px rgba(206, 206, 206, 0.75);
}

#page-wrap {
  padding-top: 0px;
}

.modal-footer{
  justify-content: center;
}

#page-wrap .cycle{
  max-width: none;
}

#page-wrap .list-group-item {
  text-align: left;
}

.createCycle, .createProgram {
  padding: 10px;
}

#page-wrap div.special-container{
  margin-top: 100px;
  margin-bottom: 100px;
}

#page-wrap div.special-container .card {
  min-width: 400px;
  max-width: 500px;
  box-shadow: -1px 11px 20px 0px rgba(206, 206, 206, 0.75)
}

.shrinkSize{
  width: 100%;
}

.cycle-outcome {
  display: flex;
  justify-content: space-around;
}

.cycle-outcome .list-group-item:focus, .list-group-item:hover {
    color: #ffffff !important;
  text-decoration: none;
  background-color: #7b3449;
  cursor: pointer;
}

/* .cycle-outcome a{
  /* color: inherit; 
} */

.cycle-outcome a:hover{
  color: inherit;
}

.cycle-view h2 {
  margin: 0px 0px 50px 0px;
}



.login-register a{
  margin: 0px 5px;
}

.edit-post{
  justify-content: flex-start;
  flex-direction: row;
}

.flex-grow{
  flex-grow: 1
}

.create{
  padding: 10px
}

.measure-label {
  /* padding: 10px; */
  /* border: 1px solid #373a47; */
  border-radius: 5px;
}

.label-defination .input-group.small{
  width: 150px;
  display: inline-flex;
}

.label-defination .form-group {
  margin-bottom: 0px;
}

.label-defination .input-group.rubric {
  width: 300px;
  display: inline-flex;
}

.label-defination .input-group.target {
  width: 200px;
  display: inline-flex;
}

.evaluators{
  display: flex;
  flex-wrap: wrap;
}

.evaluators .singleEvaluator {
  justify-content: left;
  height: auto;
  border: 1px solid #9e9898;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;
  transition: 0.2s all;
}
.evaluators .singleEvaluator:hover{
  background-color: #f8f8f8;
  cursor: default;

}

section#evaluators{
  padding: 10px 10px 10px 0px;
  border-radius: 5px;
  /* border: 2px solid black; */
}

section#evaluators .singleEvaluator:hover{
  box-shadow:1px 2px 3px #ada7a7;
  cursor: pointer;
}

.crossIcon, .checkIcon, .edit {
  cursor: pointer;
  position: relative;
  float: right;
  color: #9e9898;
  transition: 0.2s all;  
  margin: 0px 5px;
}

.edit-cycle{
  padding: 0px 15px!important;
  display: flex;
}

.status.success {
  color: green;
}

.status.fail  {
  color: #dc3545;
}

.program .trash:hover{
  cursor: pointer;
  color: #dc3545
}

.crossIcon:hover{
  color:#dc3545
}

.checkIcon:hover {
  color: green;
}

.addEvaluatorIcon:hover, .edit:hover {
  color: black;
}


.cycle-view .list-group-item{
  padding: 0.75rem 0.25rem 0.75rem 0.5rem;
}

.addEvaluatorIcon{
  cursor: pointer;
  color: #9e9898;
  transition: 0.2s all;
}

.single-measure, .program{
  background: white;
    border: 2px solid #7b344a2e;
    /* background-color: white; */
    /* box-shadow: 3px 3px 13px 0px #2b1717;*/
    box-shadow: -1px 11px 20px 0px rgba(206, 206, 206, 0.75) ;
    border-radius: 10px;
    padding: 30px;
}
.program table{
  width: 100%;
}

.program .form-group{
  margin-bottom: 0px;
}
.program .input-group{
  width: 50%;
  display: inline-flex;
  margin-bottom: 0px;
}

.department .form-control{
  display: inline;
  /* width: 50%; */
}

table.score{
  width: 600px;
}

.program table td{
  padding:.75rem!important;
  /* width: 25%; */
}

.program table td:nth-child(1), .program table td:nth-child(4), .program table th:nth-child(1), .program table th:nth-child(4){
  width: 10%
}

.program table .form-group{
  margin-bottom: 0px;
}

.btn-primary.disabled, .btn-primary:disabled,.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  background-color: #a04561;
  border-color: #c36c87
}

.list-group-item-action:focus, .list-group-item-action:hover, .list-group-item-action:active{
  color: #ffffff;
    text-decoration: none;
    background-color: #7b3449;
    cursor: pointer;
}

a:hover {
  color: transparent;
  text-decoration: none;
}

.custom-control-input:checked~.custom-control-label::before{
  color: #fff;
  border-color: #7b344a;
  background-color: #7b344a;
}

.cycles-list {
  box-shadow: -1px 11px 20px 0px rgba(206, 206, 206, 0.75)
}

.grade {
  font-weight: bold;
  font-size: 18px !important;
  vertical-align: middle !important;
  width: 100px !important;
  padding: 40px 3px;
  /* font-size: 30px !important; */
}

.grade-table{

} 

.students {
  max-width: 400px!important; 
}

.jumbotron {
  box-shadow: -1px 11px 20px 0px rgba(206, 206, 206, 0.75);
  border-radius: 10px;
  padding: 20px;
  background-color: #f3f3f3;
}

.newa:hover{
  color: #7b344a;
}

.three-dots{
  float:right;
}

.rubric-transition-enter {
  transform: translate(100%);
}

.rubric-transition-enter.rubric-transition-enter-active {
  transform: translate(0%);
  transition: transform 700ms ease-in;
}

.rubric-transition-leave {
  transform: translate(0%);
}

.rubric-transition-leave.rubric-transition-leave-active {
  transform: translate(100%);
  transition: transform 700ms ease-out;
}

.animation-table {
  position: 'fixed';
      top: 0;
      /* z-index: -1000; */
}

.card-body .form-control {
  width: 98%;
  border: 1px solid #6c757c;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}

.latestCycle {
  max-width: 500px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  background-color: #7b3449;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 20px auto 10px auto;
  transition: 0.5s all;
}

.latestCycle:hover{
  box-shadow: -2px 4px 20px 0px rgb(146, 144, 144)
  
}

.log{
  border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 2px 0px;
}
.log p{
  margin-bottom: 0px;
}

.dateTime{
  color: grey;
}

.measure-name{
  width: 50%;
}

pre{
  white-space: pre-wrap;
  font-family: inherit;
  padding: 5px;
  margin-bottom: 0px;
  border: none;
}

.mark-as-complete{
  margin: 0px 10px;
  float: right;
  transition: 0.5s all;
  
}
.mark-as-complete:hover{
  color: green;
  cursor: pointer;
}

.marked-as-complete {
  margin: 0px 10px;
  float: right;
  transition: 0.5s all;
  color: green;
  cursor: pointer;
}

#page-wrap .card.report {
  min-width: 400px;
  max-width: 500px;
}