html{
  height: 100%;
}

body{
  font-family: 'Rubik', sans-serif;
  /* height: 100%; */
}

#root{
  /* height: 100%; */
}

.main{
  background: url('./img/landing.jpg'), #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5)), url('./img/landing.jpg');  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5)), url('./img/landing.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}

.main h1{
  color: #840029;
  text-align: center;
  padding-top: 25vh;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  background-color: #7b344a!important;
}

.main .mainContext{
  text-align: center;
  font-size: 1.25em;
}

.background-gradient{
  background: url('./img/landing.jpg'), #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fullpage{
  height: 100%;
}

@media (min-width: 768px){
  form {
    padding: 5em;
    
  }
}

form{
  padding-top: 5em;
}

.btn-primary {
  background-color: #7b344a;
  border-color: #c36c87;
}

.btn-primary:hover{
  background-color: #a04561;
  border-color: #c36c87;
}


/* SIDEBAR CSS */
/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  /* margin: 10px; */
  padding: 10px;
  color: white;
  transition: color 0.2s;
}


.label:hover{
  background: none!important;
}

.label span{
  color:#7b344a;
  text-shadow:
   -1px -1px 0 rgba(255, 255, 255, 0.596),  
    1px -1px 0 rgba(255, 255, 255, 0.596),
    -1px 1px 0 rgba(255, 255, 255, 0.596),
     1px 1px 0 rgba(255, 255, 255, 0.596);
}

/* Change color on hover */
.bm-item:hover {
  color: white;
  background-color: #7b344a;
  border-radius: 5px;
  text-decoration: none;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  /* background: #bdc3c7; */
}

/* General sidebar styles */
.bm-menu {
  background: #151b26;
  padding: .5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



/* New styles */

.workspace{
  background-color: #f6f8f9;
}

#page-wrap h2{
  text-align: center;
}

.initial{
  position: fixed;
  /* width: 36px; */
  cursor: pointer;
  height: 30px;
  right: 80px;
  top: 36px;
  font-size: 1.05em;
}
a.dropdown-item{
  width: 50px!important;
}